input{
    height: 50px;
    font-size: 18px;
}

select{
    height: 50px;
    font-size: 18px; 
}
textarea{
    font-size: 18px;
}
.btn{
    font-size: 18px;
    border: none;
}
.view-btn{
    
    background:  rgb(99, 192, 161);
}
.edit-btn{
    background: #448fb4;

}
.checked {
    color: orange;
  }

h2 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 700;
}
.pageTitle{
    
        color: rgb(255, 255, 255);
        font-size: 35px;
        margin-top: 5%;
        margin-bottom: 20px;
 
}

.myReviews{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 50px 70px 50px 70px;
    width: 100%;
    border-radius: 25px 130px;
    box-shadow: 15px 10px 5px grey;
}
.singleReview{
    background-color: rgba(8, 235, 204, 0.589);

}
.panel{
    box-shadow: 15px 10px 5px grey;
}


